$greenColor: #0A6C52;
$grayColor: #344054;
$borderColor: #D0D5DD;
$fontWeightNormal: 400;

.personal-info {
    margin-top: 20px;
}

.header-desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $grayColor;
}

.name-input {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.left-name-input {
    width: 49%;
}

.right-name-input {
    width: 49%;
}

.input-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $grayColor;
}

.phone {
    margin-bottom: 20px;
}

.phone-inpt {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}


.flag-cont {
    cursor: pointer !important;
    border-radius: 8px 8px 8px 8px !important;
    background: #ffffff !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-right: 0px !important;
    padding-left: 10px !important;
    border-top: 1px solid $borderColor !important;
    border-bottom: 1px solid $borderColor !important;
    border-left: 1px solid $borderColor !important;
    border-right: 1px solid $borderColor !important;
    width: 12% !important;
}

.mobile {
    padding-left: 10px !important;
    width: 86% !important;
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-top: 1px solid $borderColor !important;
    border-bottom: 1px solid $borderColor !important;
    border-right: 1px solid $borderColor;
    background: #ffffff !important;
    margin-left: 14% !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    color: #0c111d !important;
    outline: none !important;
    font-size: 16px !important;

}

.mobile:focus {
    outline: none;
    border: 1px solid $borderColor !important;
}

.ng-flag {
    width: 30px;
    height: 30px;
}

.arr-dwn {
    width: 10px;
    height: 10px;
    margin: auto auto;
}

.email-input {
    margin: 20px 0px;
}

.optional {
    font-weight: $fontWeightNormal;
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
}

.age-gender {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.age-section {
    width: 20%;
    cursor: pointer;
}

.gender-section {
    width: 75%;
}

.radio-section {
    display: flex;
    margin-top: 5px;
}

.male {
    display: flex;
    margin-right: 20px;
}

.female {
    display: flex;
}

.male-text,
.female-text {
    font-size: 14px;
    font-weight: 500;
    color: $grayColor;
    line-height: 20px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.address-input {
    margin-bottom: 20px;
}

.site-input {
    cursor: pointer;
    margin-bottom: 20px;
}

.id-type-input {
    margin-bottom: 20px;
}

.id-number-input {
    margin-bottom: 20px;
}

.upload-doc {
    margin-bottom: 20px;
}

.upload-cont {
    display: flex;
    padding: 15px;
    border: 1px solid #EAECF0;
    border-radius: 12px;
    margin-top: 5px;
}

.upload-box {
    margin-right: 20px;
    border: 1px solid $borderColor;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.doc-name {
    margin: auto 0px;
    font-weight: $fontWeightNormal;
    font-size: 14px;
    line-height: 20px;
    color: #101828;

}

.password-1 {
    margin-bottom: 20px;
}

.password-2 {
    margin-bottom: 5px;
}

.error-icon {
    margin-right: 5px;
}

.val-check {
    display: flex;
    margin-bottom: 10px;
}

.text-normal {
    font-weight: $fontWeightNormal;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
}

.text-red {
    font-weight: $fontWeightNormal;
    font-size: 14px;
    line-height: 20px;
    color: #F04438;
}

.avatar-upload {
    margin-top: 20px;
}

.upload-content {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;

}

.avatar {
    background-color: #F2F4F7;
    border-radius: 50%;
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.upload-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.upload-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid $borderColor;
    border-radius: 8px;
    cursor: pointer;
}

.upload-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $grayColor;
}

.upload-desc {
    margin-top: 5px;
    font-size: 12px;
    font-weight: $fontWeightNormal;
    line-height: 18px;
    color: #475467;
}

.btn-sec {
    display: flex;
    margin-top: 20px;
    width: 65%;
}

.btn-bck {
    margin-right: 5% !important;
    width: 40% !important;
}

.btn-continue {
    width: 40% !important;
}

input[type="file"] {
    display: none;
}


.check-mark {
    display: none;
}

.input-drop-down-cont {
    border-radius: 8px;
    border: 1px solid #EAECF0;
    box-shadow: 0 0 2px 2px #EAECF0;
    margin-top: 5px;
    padding: 5px 5px;
    z-index: 1;
    max-height: 200px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 7px;
    background: #ffffff;
}

/* Handle */
.input-drop-down-cont::-webkit-scrollbar-thumb {
    background-color: #EAECF0;
    border-radius: 8px;
}

.input-item {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    cursor: pointer;
}

.input-item:hover {
    background-color: #F9FAFB;
    border-radius: 6px;

    .check-mark {
        display: block;
    }
}



@media screen and (max-width: 768px) {
    .age-gender {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .age-section {
        width: 35%;
        cursor: pointer;
        margin-right: 10%;
    }

    .gender-section {
        width: 58%;
    }




    .mobile {
        padding-left: 10px !important;
    }


    .upload-box {
        font-size: 12px;
        margin-right: 10px;
    }


    .ng-flag {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    .arr-dwn {
        width: 8px;
        height: 8px;
        margin: auto auto;
    }

    .doc-name {
        font-size: 12px;
    }


    .btn-bck {
        margin-right: 15%;
        width: 35%;
    }

    .btn-continue {
        width: 35%;
    }

    .text-normal {
        font-size: 12px;
    }

    .text-red {
        font-size: 12px;
    }

    .error-icon {
        width: 15px;
        height: 15px;
    }
}

;

@media screen and (max-width: 340px) {

    .btn-sec {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {



    .flag-cont {
        padding-left: 10px !important;
        width: 20% !important;
    }

    .mobile {
        padding-left: 10px !important;
        width: 75% !important;

        margin-left: 23% !important;


    }




    .btn-sec {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .age-gender {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .age-section {
        width: 30%;
        cursor: pointer;
        margin-right: 10%;
    }

    .gender-section {
        width: 58%;
    }

    .flag-cont {
        padding-left: 10px !important;
        width: 22% !important;
    }

    .mobile {
        padding-left: 10px !important;
        width: 77% !important;

        margin-left: 25% !important;


    }

    .ng-flag {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    .arr-dwn {
        width: 8px;
        height: 8px;
        margin: auto auto;
    }

}

;

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .btn-sec {
        width: 100%;
    }
}

;

@media screen and (min-width: 1200px) and (max-width: 1800px) {
    .flag-cont {
        padding: 7px 10px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 8px;
        width: 20%;
    }

    .age-section {
        width: 33%;
        cursor: pointer;
        margin-right: 10%;
    }
}