$greenColor: #0A6C52;
$grayColor: #344054;
$borderColor: #D0D5DD;
$fontWeightNormal: 400;

.personal-info {
    margin-top: 20px;
}

.header-desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $grayColor;
}

.name-input {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.left-name-input {
    width: 49%;
}

.right-name-input {
    width: 49%;
}

.input-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $grayColor;
}

.phone {
    margin-bottom: 20px;
}

.phone-input {
    display: flex;
    justify-content: space-between;
}

.flag-cont {
    width: 8%;
    height: 90%;
    border: 1px solid $borderColor;
    padding: 5px 6px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: auto 0px;
}

.mobile {
    width: 88%;
}

.ng-flag {
    width: 30px;
    height: 30px;
}

.arr-dwn {
    width: 10px;
    height: 10px;
    margin: auto auto;
}

.email-input {
    margin: 20px 0px;
}

.optional {
    font-weight: $fontWeightNormal;
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
}

.age-gender {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.age-section {
    width: 20%;
    cursor: pointer;
}

.gender-section {
    width: 75%;
}

.radio-section {
    display: flex;
    margin-top: 5px;
}

.male {
    display: flex;
    margin-right: 20px;
}

.female {
    display: flex;
}

.male-text,
.female-text {
    font-size: 14px;
    font-weight: 500;
    color: $grayColor;
    line-height: 20px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.address-input {
    margin-bottom: 20px;
}

.site-input {
    cursor: pointer;
    margin-bottom: 20px;
}

.id-type-input {
    margin-bottom: 20px;
}

.id-number-input {
    margin-bottom: 20px;
}

.upload-doc {
    margin-bottom: 20px;
}

.upload-cont {
    display: flex;
    padding: 15px;
    border: 1px solid #EAECF0;
    border-radius: 12px;
    margin-top: 5px;
}

.upload-box {
    margin-right: 20px;
    border: 1px solid $borderColor;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.doc-name {
    margin: auto 0px;
    font-weight: $fontWeightNormal;
    font-size: 14px;
    line-height: 20px;
    color: #101828;

}

.password-1 {
    margin-bottom: 20px;
}

.password-2 {
    margin-bottom: 5px;
}

.error-icon {
    margin-right: 5px;
}

.val-check {
    display: flex;
    margin-bottom: 10px;
}

.text-normal {
    font-weight: $fontWeightNormal;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
}

.text-red {
    font-weight: $fontWeightNormal;
    font-size: 14px;
    line-height: 20px;
    color: #F04438;
}

.avatar-upload {
    margin-top: 20px;
}

.upload-content {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;

}

.avatar {
    background-color: #F2F4F7;
    padding: 10px;
    border-radius: 50%;
    margin-right: 15px;
}

.upload-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.upload-btn {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid $borderColor;
    border-radius: 8px;
    cursor: pointer;
}

.upload-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $grayColor;
}

.upload-desc {
    margin-top: 5px;
    font-size: 12px;
    font-weight: $fontWeightNormal;
    line-height: 18px;
    color: #475467;
}

.btn {
    display: flex;
    margin-top: 20px;
}

.btn-bck {
    margin-right: 10%;
    width: 20%;
}

.btn-continue {
    width: 20%;
}

input[type="file"] {
    display: none;
}


@media screen and (max-width: 768px) {
    age-gender {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .age-section {
        width: 35%;
        cursor: pointer;
        margin-right: 10%;
    }

    .gender-section {
        width: 58%;
    }

    .flag-cont {
        padding: 10px 10px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 8px;
    }

    .upload-box {
        font-size: 12px;
        margin-right: 10px;
    }


    .ng-flag {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    .arr-dwn {
        width: 8px;
        height: 8px;
        margin: auto auto;
    }

    .doc-name {
        font-size: 12px;
    }


    .btn-bck {
        margin-right: 15%;
        width: 35%;
    }

    .btn-continue {
        width: 35%;
    }

    .text-normal {
        font-size: 12px;
    }

    .text-red {
        font-size: 12px;
    }

    .error-icon {
        width: 15px;
        height: 15px;
    }
}

;

@media screen and (min-width: 768px) and (max-width: 1200px) {
    age-gender {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .age-section {
        width: 30%;
        cursor: pointer;
        margin-right: 10%;
    }

    .gender-section {
        width: 58%;
    }

    .flag-cont {
        padding: 10px 10px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 8px;
    }

    .ng-flag {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }

    .arr-dwn {
        width: 8px;
        height: 8px;
        margin: auto auto;
    }

}

;