@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$fontFamily: "Inter", sans-serif;
$fontWeightBold: 700;
$fontWeightNormal: 400;
$fontStyleNormal: normal;
$greenColor: #0A6C52;
$grayColor: #344054;

.create-account-component {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: $fontFamily;
    font-style: $fontStyleNormal;
}

.left-hero {
    width: 50%;
}

.right-personal-info {
    width: 50%;
    height: 100%;
    padding: 30px 40px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.top-nav-desktop {
    display: block;
    position: fixed;
    width: 45%;
    background: #ffffff;
    top: 0;
    z-index: 1;
    padding: 30px 0px;
}

.top-nav-mobile {
    display: none;
}



.left {
    display: flex;
}

.right {
    font-weight: $fontWeightNormal;
}

.login-green {
    font-weight: 600;
    color: $greenColor;
}

.arr-bck {
    margin-right: 10px;
    cursor: pointer;
}

.form-section {
    display: flex;
    margin-top: 50px;
}

.left-stepper {
    display: flex;
    flex-direction: column;
    margin-right: 8%;

}

.right-form-container {
    width: 75%;
}

.step-line-1,
.step-line-2,
.step-line-3 {
    border: 1px solid #EAECF0;
    color: #EAECF0;
    height: 80px;
    width: 1px;
    margin: 0px auto;
    background-color: #EAECF0;
}

.step-line-1-green,
.step-line-2-green,
.step-line-3-green {
    border: 1px solid #0E9874;
    color: #0E9874;
    height: 80px;
    width: 1px;
    margin: 0px auto;
    background-color: #0E9874;
}

.header-text {
    display: flex;
    justify-content: start;
    font-weight: $fontWeightBold;
    font-size: 30px;
    line-height: 38px;
    color: $grayColor;
}

@media screen and (max-width: 768px) {
    .left-hero {
        display: none;
    }

    .right-personal-info {
        width: 100%;
        height: 100%;
        padding: 0px 0px;
    }


    .top-section-mobile {
        display: flex;
        justify-content: space-between;
        padding: 20px 15px;
    }

    .top-nav-desktop {
        display: none;
    }

    .top-nav-mobile {
        display: block;
        box-shadow: 0 0 2px 0px #101828;
        background: #ffffff;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        margin-top: 38px;
        padding: 20px 15px;
    }

    .left-stepper {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-right: 0%;
        margin-bottom: 30px;
        position: fixed;
        width: 100%;
        background: #ffffff;
        z-index: 1;
        padding: 20px 0px;
    }

    .right-form-container {
        margin-top: 75px;
        width: 100%;
    }

    .step-line-1,
    .step-line-2,
    .step-line-3 {
        height: 0px;
        width: 40px;
        margin: auto 0px;
    }

    .step-line-1-green,
    .step-line-2-green,
    .step-line-3-green {
        height: 0px;
        width: 40px;
        margin: auto 0px;
    }


    .nav-txt {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

    }

    .home-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }

    .right-nav {
        display: flex;
        margin: auto 0px;
    }
}

@media screen and (min-width: 1300px) {

    .left-stepper {
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-right: 8%;

    }

    .right-form-container {
        width: 75%;
        margin-left: 8%;
    }
}