$greenColor: #0A6C52;
$grayColor: #344054;
$borderColor: #D0D5DD;
$fontWeightNormal: 400;
$fontSizeNormal: 14px;
$lineHeightNormal: 20px;

@mixin text-important {
    font-weight: 500;
    line-height: $lineHeightNormal;
    font-size: $fontSizeNormal;
    color: $grayColor;
}


.farm-reg-container {
    margin-top: 20px;
}

.farm-reg-header {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: $grayColor;
}

.register-input-group {
    margin-top: 20px;
}

.optional-reg {
    @include text-important();
    font-style: italic;
    margin-left: 5px;
}

.coordinates-section {
    display: flex;
    justify-content: space-between;
}

.longitude-left {
    width: 49%
}

.latitude-right {
    width: 49%
}

.coordinate-text-sample {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
    margin-top: 5px;
}

.farm-topic {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $grayColor;
    margin-top: 20px;
}

.add-farm-container {
    border-radius: 6px;
    padding: 15px;
    background-color: #F9FAFB;
    margin-top: 10px;
}

.register-input-group-month {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.start-mnth {
    width: 48%;
}

.end-mnth {
    width: 48%;
}

.anothercrop-btn {
    border-radius: 8px;
    background-color: #E7F5F1;
    padding: 6px 8px 6px 8px;
    display: flex;
    width: 25%;
    margin-top: 20px;
    cursor: pointer;
}

.another-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #0A6C52;
    margin-left: 5px;
}

.doc-text {
    @include text-important();
    margin-top: 20px;
    margin-bottom: 20px;
}

.drop-area {
    border: 1px solid #EAECF0;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
    margin: 20px 0px;
}

.info-green {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #0E9874;
}

.file-type {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #475467;
}

.file-upload-cont {
    margin-top: 20px;
    border: 1px solid #EAECF0;
    border-radius: 12px;
    padding: 16px;
}

.file-details {
    display: flex;
    justify-content: space-between;
}

.name-doc {
    display: flex;
}

.filename {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    @include text-important();
}

.file-size {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #475467;
    margin-bottom: 15px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
}

.progress-text {
    @include text-important();
}

.crop-action-cont {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.crop-no {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
}

.close {
    width: 15px;
    height: 10px;
    color: #475467;
    cursor: pointer;
}